apiVersion: v1
kind: ServiceAccount
metadata:
  name: receipt-service
  namespace: payment-platform
  annotations:
    eks.amazonaws.com/role-arn: ${RECEIPT_ROLE_ARN}
automountServiceAccountToken: true
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: notification-service
  namespace: payment-platform
  annotations:
    eks.amazonaws.com/role-arn: ${NOTIFICATION_ROLE_ARN}
automountServiceAccountToken: true
